src/main/mule/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:siebel="http://www.mulesoft.org/schema/mule/siebel" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
    xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/siebel http://www.mulesoft.org/schema/mule/siebel/current/mule-siebel.xsd">
    <flow name="schedulerFlow" doc:id="aff4106d-d2f6-4366-940a-a380dcb1cf73">
        <scheduler doc:name="Scheduler" doc:id="58b7c776-fbee-4753-9bea-f6cc3e037efd">
            <scheduling-strategy>
                <fixed-frequency frequency="${scheduler.frequency}" startDelay="${scheduler.start.delay}" />
            </scheduling-strategy>
        </scheduler>
		<flow-ref doc:name="queryFlowSiebel" doc:id="70dbc746-17ed-43eb-8057-1b9f1a7fa381" name="queryFlowSiebel" />
		<flow-ref doc:name="fromSiebeltoSalesforce" doc:id="022f0e41-ca8f-44dd-a0fc-1dbf86b02229" name="fromSiebeltoSalesforce" />
		<error-handler>
			<on-error-propagate enableNotifications="true"
				logException="true" doc:name="On Error Propagate" doc:id="488b507d-e26c-4c56-8759-8bb4f6645d71"
				type="ANY">
				<flow-ref doc:name="errorHandlingFlow" doc:id="afdaf73c-0137-4d60-84f6-5c41234771a3"
					name="errorHandlingFlow" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="queryFlowSiebel" doc:id="eb3adcd6-4f00-42ac-92da-6a2ed6806bbe" >
		<ee:transform doc:name="Set format for default watermark" doc:id="614bd75d-f5b7-4fce-a5ee-469ccfa092ae" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
p('watermark.default.expression') as DateTime as String {format: "MM/dd/yy HH:mm:ss"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<os:retrieve doc:name="Retrieve lastQueryDateSiebel" doc:id="ad6ada32-fa90-4c24-81d2-fccf0df532e3" key="watermark" objectStore="watermarkStore" target="lastQueryDateSiebel">
			<os:default-value ><![CDATA[#[payload]]]></os:default-value>
		</os:retrieve>
		<ee:transform doc:name="Set Query for Siebel" doc:id="f7f98cf9-da75-4f14-92d7-4b3eefa281b9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	"fields" : ["Account Number", 
	"Annual Revenue", "Source", "Bill To City", 
	"Bill To Country", "Bill To Postal Code", 
	"Bill To State", "Bill To Street Address", 
	"Description", "Main Fax Number", "Industry", 
	"Last Update - SDQ", "Name", "Employees", 
	"Ownership Type", "Parent Account Id", 
	"Main Phone Number", "Rate", "Ship To City", 
	"Ship To Country", "Ship To Postal Code", 
	"Ship To State", "Ship To Street Address", 
	"SIC Code", "Ticker", "Type", "Home Page"],
	"searchSpec": {
		"Last Update - SDQ": "> '" ++ vars.lastQueryDateSiebel as String ++ "'",
		"Employees" : "> 5000"
	}
} ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<siebel:query-business-components businessObjectComponentType="Account.Account" doc:name="Query all Accounts from Siebel" doc:id="3cb7d992-4137-4486-8cd3-0bab3ca2001e" config-ref="Siebel_JDB_Siebel"/>
		<os:store doc:name="Store lastQueryDateSiebel" doc:id="eb2f0fdb-afdc-412b-b948-868a405b2356" key="watermark" objectStore="watermarkStore">
			<os:value ><![CDATA[#[max(payload map  $."Last Update - SDQ")]]]></os:value>
		</os:store>
	</flow>
</mule>


        