src/main/app/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd">
	    <data-mapper:config name="map_to_map" transformationGraphPath="map_to_map.grf" doc:name="map_to_map"/>
	
	
	<batch:job name="syncAccountsBatch">
		<batch:threading-profile poolExhaustedAction="WAIT" />
		<batch:process-records>
            <batch:step name="transformFieldsFromSiebelToSalesforceStep">
                <data-mapper:transform config-ref="map_to_map" doc:name="Map To Map"/>
            </batch:step>
			<batch:step name="forEachAccountInSiebelGetAccountInSalesforceStep">
				<enricher source="#[payload]" target="#[recordVars['accountInSalesforce']]"
					doc:name="store result in record var 'accountInSalesforce'">
					<sfdc:query-single config-ref="Salesforce"
						query="SELECT Id FROM Account WHERE Name = '#[payload['Name']]'"
						doc:name="query Account from Salesforce" />
				</enricher>
			</batch:step>
			<batch:step name="forEachAccountInSiebelUpsertAccountInSalesforceStep">
				<expression-component
					doc:name="prepare for upsert"><![CDATA[// setup ID
if (recordVars['accountInSalesforce'] instanceof NullPayload) {
	// Remove ID as it is an insert
	payload.remove('Id')
} else {
	// Add target system ID as it is an update
    payload.put('Id', recordVars['accountInSalesforce']['Id'])
}

// remove unnecessary fields
payload.remove('LastModifiedDate');

// TODO - This is necessary due to: https://www.mulesoft.org/jira/browse/CLDCONNECT-1248
if (!payload['NumberOfEmployees'].isEmpty()) {
	payload.put('NumberOfEmployees', Integer.parseInt(payload['NumberOfEmployees']) );
}]]></expression-component>
				<batch:commit size="200" doc:name="Batch Commit">
			        <sfdc:upsert config-ref="Salesforce" externalIdFieldName="Id" type="Account" doc:name="upsert Accounts in Salesforce">
			            <sfdc:objects ref="#[payload]"/>
			        </sfdc:upsert>
			        <logger message="Upsert result: #[payload]" level="ERROR" doc:name="log Result"/>
				</batch:commit>
			</batch:step>
		</batch:process-records>
		<batch:on-complete>
			<json:object-to-json-transformer
				doc:name="transform BatchJobInstance to JSON" />
			<logger level="INFO" doc:name="log 'Migration process has finished'"
				message="Migration process has finished: #[payload]" />
		</batch:on-complete>
	</batch:job>

    <flow name="mainFlow" doc:name="mainFlow">
        <batch:execute name="syncAccountsBatch" doc:name="Batch Execute"/>
        <exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/>
    </flow>
</mule>
